.scenarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  >.scenario {
    margin-right: 1em;
    display: inline-flex;
    flex-direction: column;

    &.new {
      justify-content: center;
      align-items: center;
      background-color: #eee;

      span {
        text-align: center;
      }
    }
  }
}

body {
  font-family: Avenir, sans-serif;
}

.scenario {
  width: 350px;

  textarea {
    width: 99%;
    box-sizing: border-box;
    height: 8em;
    resize: none;
    font-family: Iosevka, JuliaMono, monospace;
    font-size: 63%;
    border: 0.5px solid #eee;
    padding: 5px;
    box-shadow: rgb(238, 238, 238) 2px 2px 2px;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }
}

.spt-input {
  display: inline-block;
  padding: 5px;
  max-width: 75px;

  h4 {
    padding-bottom: 0.25em;
    margin: 0;
    white-space: nowrap;
    overflow-x: scroll;
  }

  > .input-stack {
    display: inline-flex;
    flex-direction: column;

    input {
      border: 1px solid #eee;
      margin-top: -1px;
      width: 100%;
    }
  }
}

.scenario .outputs .stats {
  display: flex;

  * {
    flex: 1;
    width: 100%;
  }
}

.formula-view {

  margin-bottom: 30px;
  display: flex;
  flex-direction: row;

  .factor, .function {
    display: flex;
    flex-direction: row;
  }

  span {
    display: block;
  }

  .spt-input {
    background-color: #eee;
    
    input {
      width: 75px;
    }
  }

  .operator,
  .equals {
    margin: 0 0.1em;
    font-size: 300%;
    font-family: Iosevka, monospace;
    vertical-align: middle;
  }

  .open-bracket,
  .closed-bracket,
  .open-paren,
  .closed-paren {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: calc(100% + 20px);
    width: 0.5em;
    position: relative;
    top: -10px;
  }

  .open-bracket,
  .open-paren {
    border-left: 2px solid black;
  }

  .closed-bracket,
  .closed-paren {
    border-right: 2px solid black;
    border-radius: 0 3px 3px 0;
  }

  .variable, .number {
    font-size: 200%;
    vertical-align: middle;
    transform: translateY(0.2em);
  }
}
