body {
  background: #111;
  color: white;
}

.idea-summary {
  background-color: #222;
  padding: 0.25em 0; 
  margin-bottom: 0.5em;
}

.scenarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .scenario-summary {
    margin-right: 1em;
    display: inline-flex;
    flex-direction: column;
    max-width: 350px;

    .top-bar { 
      display: flex;
      justify-content: space-between;
    }

    .inputs {
      display: flex;
      flex-direction: column;
    }

    .outputs .stats {
      display: flex;
    
      * {
        flex: 1;
        width: 100%;
      }
    }

    &.new {
      justify-content: center;
      align-items: center;
      background-color: #222;

      span {
        text-align: center;
      }
    }
  }
}

body {
  font-family: Avenir, sans-serif;
}


.formula {
  > p {
    margin-bottom: 0.1em;
  }
  textarea {
    width: 99%;
    box-sizing: border-box;
    height: 8em;
    resize: none;
    font-family: Iosevka, JuliaMono, monospace;
    font-size: 63%;
    border: 0.5px solid #444;
    background-color: #181818;
    color: white;
    padding: 5px;
    box-shadow: rgb(50, 50, 50) 2px 2px 2px;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }
}

.spt-input {
  display: inline-block;
  padding: 5px;
  max-width: 75px;

  h4 {
    padding-bottom: 0.25em;
    margin: 0;
    white-space: nowrap;
    overflow-x: scroll;
  }

  > .input-stack {
    display: inline-flex;
    flex-direction: column;

    input {
      border: 1px solid #444;
      background-color: #181818;
      color: white;

      margin-top: -1px;
      width: 100%;
    }
  }
}

.formula-view {

  margin: 2em 0;
  display: flex;
  flex-direction: row;

  .factor, .function {
    display: flex;
    flex-direction: row;
  }

  span {
    display: block;
  }

  .spt-input {
    background-color: #222;
    border-radius: 10px 10px 0 0;
    
    input {
      width: 75px;
    }
  }

  .operator,
  .equals {
    margin: 0 0.1em;
    font-size: 200%;
    font-family: Iosevka, monospace;
    vertical-align: middle;
  }

  .open-bracket,
  .closed-bracket,
  .open-paren,
  .closed-paren {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: calc(100% + 20px);
    width: 0.5em;
    position: relative;
    top: -10px;
  }

  .open-bracket,
  .open-paren {
    border-left: 2px solid black;
    border-radius: 3px 0 0 3px;
  }

  .closed-bracket,
  .closed-paren {
    border-right: 2px solid black;
    border-radius: 0 3px 3px 0;
  }

  .variable, .number {
    font-size: 150%;
    vertical-align: middle;
  }
}

.person-bubble {
  border-radius: 50%;
  font-family: monospace;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
  
  > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}

.scenario {
  max-width: 960px; 
  margin: 0 auto; 

  .rationales {
    .input-rationale {
      display: flex;
      .formula {
        flex: 1;
      }
    }
  }
}

.labeled-number {
  display: flex;
  flex-direction: column;
  .label {
    font-size: 60%;
  }
  .number {
    font-family: monospace;
  }
}